.imagen
{

	width: 98%;
	height: 35%;
	font-size: 10px;
	margin-left: 10px;
	padding: 10px;
	border-radius: 20px;
}


body
{
	margin: 0;
	padding: 0;

	background: linear-gradient(150deg, #6C3483, #58d68D);
	height: 100vh;
}

.formulario
{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border-radius: 10px;
}
.formulario h1
{
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid silver;
}

.formulario from
{
	padding: 0 40px;
	box-sizing: border-box;

}

form .usuario
{
	position: relative;
	border-bottom: 2px solid#CCCCCC;
	margin: 30px 0;

}

.usuario inpu
{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}


button
{
	border: 0;

	background-image: linear-gradient(150deg, #38B606,#59EA1F, #A7C7E7);
	border-radius: 8px;
	color: #000000;
	display: flex;
	font-size: 19px;
	padding: 4px;
	cursor: pointer;
	transition: .3s;

}

button span
{
	background-color: #111111;
	padding: 16px 24px;
	border-radius: 6px;
	transition: .3s;
}

button hover span
{
	background: none;
}
button:active
{
	transform: scale(0.9);

}



