.imagen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15%;
    justify-content: center;
}
.imagen1 {
    width:80%;
    height: 90%;
    display: flex;
    
}

nav {
  background-color: #6dc36d;
  padding: 20px;
  margin-top: 15%;
}


.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-bottom: 10px;
}


ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

li {
  margin: 5px;
}

a {
 
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightgreen;
  display: block;
  color: black;
}

a:hover {
  background-color: #C8FFC8;
  color: black;
}

/* Estilo responsivo para móviles */
@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
    display: none;
  }

  ul.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}



h1
{
    background-color: #BFFFB8;
    font-size: 50px;
    text-align: center;
}

.fondocolumnas1 {
   padding: 25px;
    background-color: #6dc36d;
    border-radius: 30px;
    margin: 15px;
    margin-top: 25%;
    width: 100%;
    text-align: left;
}

.fondocolumnas2 {
    padding: 25px;
    background-color: #6dc36d;
    border-radius: 30px;
    margin: 10px;
    margin-top: 15px;
    width: 100%;
    text-align: left;
}

.fondocolumnas3 {
    padding: 25px;
    background-color: #6dc36d;
    border-radius: 30px;
    margin: 10px;
    width: 100%;
    text-align: left;
}

.fondocolumnas4 {
    padding: 25px;
    background-color: #6dc36d;
    border-radius: 30px;
    margin: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.fondocolumnas5 
{
    padding: 25px;
    background-color: #6dc36d;
    border-radius: 30px;
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}